body {
    background: linear-gradient(to right, #3a7bd5 0%, #00d2ff 100%);
  }
  
  .bg-green {
    background: linear-gradient(to right, #11998e 0%, #38ef7d 100%);
    color: beige;
    border-right: 1px solid #38ef7d;
  }
  
  .bg-red {
    background: linear-gradient(to right, #cb2d3e 0%, #ef473a 100%);
    color: beige;
    border-right: 1px solid #ef473a;
  }
  
  .card {
    border: 0px !important;
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.3);
  }
  
  input[type="text"]:focus {
    border-color: rgba(126, 239, 104, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(40, 167, 69, 0.6);
    outline: 0 none;
  }
  
  button:hover {
    opacity: 0.9;
  }
  
  button:active {
    background: linear-gradient(to right, #11998e 0%, #38ef7d 100%) !important;
    border-color: #38ef7d !important;
    color: beige;
    opacity: 0.6;
  }
  
  button:focus {
    box-shadow: none !important;
    outline: none !important;
  }
  
  #deleteAll {
    position: absolute;
    right: 1.25rem;
    top: 9px;
  }
  
  ul li.checked {
    background: linear-gradient(to right, #8e9eab 0%, #eef2f3 100%);
    color: #fff;
    text-decoration: line-through;
  }
  
  .close {
    font-size: 18px;
    position: absolute;
    right: 0;
    top: 0;
    padding: 16px 16px;
  }
  
  .close:hover {
    color: #232526;
  }
  
  li {
    transition: all 0.4s;
  }
  
  li:hover {
    background-color: #eaeaea;
    cursor: pointer;
  }
  
  a {
      color: white;
      transition: all 1s;
      border: 1px solid #38ef7d;
      border-bottom: 3px solid #38ef7d;
      border-top-left-radius: 7px;
      border-bottom-right-radius: 7px;
  }

  a:hover{  
      background-color: #38ef7d;
      text-decoration: none;
      color:white;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  }

  .footer {
    position: fixed;
    bottom: 10px;
    width: 100%;
}